:root {
	color-scheme: light dark;
	color: var(--color-smoke);
	background: var(--color-paper);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--color-sand);
		background: var(--color-coal);
	}
}

body {
	margin: 0;
}
